<section class="hero-cta">
  <div class="container">
    <h1>Fale Conosco ou solicite uma Demonstração Gratuita</h1>

    <p>
      Fale com um de nossos consultores e saiba mais sobre o nosso software e
      nossas funcionalidades, podendo tirar todas as suas dúvidas.
    </p>

    <a href="/contato" class="btn-primary">
      Solicitar uma demonstração
    </a>
  </div>
</section>

