<div class="blog-filters" id="blogFilters">
  <div class="blog-search">
    <span class="material-symbols-rounded" aria-hidden="true">search</span>
    <input id="blogSearch" type="text" placeholder="Buscar por título, palavras-chave ou conteúdo..." />
  </div>

  <div class="blog-cats">
    <p class="blog-cats-label">Categorias</p>
    <div class="blog-cats-row" id="blogCats">
      <button class="blog-chip is-active" data-cat="Todas" type="button">Todas</button>
      <button class="blog-chip" data-cat="Tecnologia" type="button">Tecnologia</button>
      <button class="blog-chip" data-cat="Guias" type="button">Guias</button>
      <button class="blog-chip" data-cat="Manutenção" type="button">Manutenção</button>
      <button class="blog-chip" data-cat="Segurança" type="button">Segurança</button>
      <button class="blog-chip" data-cat="Novidades" type="button">Novidades</button>
      <button class="blog-chip" data-cat="Gestão" type="button">Gestão</button>
    </div>
  </div>
</div>
